@charset "utf-8";
.mobile{display: none;}
.pc{display: block;}
.pagelist{width: 100%; overflow: hidden;}
.paiging{width: 100%; overflow: hidden;}
.paging .active{background-color:#1B1B1B;}
.search-result-top{margin-top:24px;}
.result-bottom{padding-top:24px;}
.feedback-form{display:flex;justify-content:flex-end;align-items:center;}
.feedback-form-radio{display:flex;align-items:center;}
.feedback-form-checkbox{display:none;margin-top:10px;}
.checkbox-group.type-block{margin-top:8px;gap:8px;}
.feedback-form-title{margin-right:12px;}
.radio-group > .item{margin-right:12px;align-items:center;}
.radio-group > .item input[type="radio"]{margin-top:0;}
.radio-group input[type="button"]{background-color:#1b1b1b;border-radius:4px;}

.btn{ height: 40px; font-size: 17px; font-weight: 500; border-radius: 4px; padding: 0 10px;}
.btn.summary{background-color: #4A2E26; color: #fff}
.btn.origin{background-color: #fff; border:1px solid #4A2E26; color: #4A2E26; background-image: url(../images/new/origin.svg); background-repeat: no-repeat; background-position: 10px center; background-size: 17px; padding: 0 10px 0 32px;}

/* 검색창 */
.list_control_item{display:flex;align-items:center;column-gap:10px;}
.list_control_item>span{font-size:15px;}
.list_control_item>label{position:relative;display:flex;align-items:center;column-gap:6px;cursor:pointer;}
.list_control_item input[type="checkbox"]{display:none;}
.list_control_item .switch{position:relative;display:inline-block;width:28px;height:16px;}
.list_control_item .switch input{display:none;}
.list_control_item .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;transition:.4s;border-radius:34px;}
.list_control_item .slider:before{position:absolute;content:"";width:10px;height:10px;left:4px;top:50%;transform:translateY(-50%);background-color:white;transition:.4s;border-radius:50%;}
.list_control_item .switch input:checked+.slider{background-color:#987F62;}
.list_control_item .switch input:focus+.slider{box-shadow:0 0 1px #2196F3;}
.list_control_item .switch input:checked+.slider:before{transform:translateY(-50%) translateX(12px);}

.header-search .mobile-search-type{display: none;}
.header-search .search-box{display:flex;}

/* 자동완성 */
.autoComplete_list{position:relative;}
.autoComplete_list ul li{display:flex;align-items:center;}
.autoComplete_list ul li button{display:inline-flex;margin-left:4px;}

/* 최근검색어 */
.keyword-recent{padding-bottom:24px;}
.keyword-recent ul{display:flex;flex-wrap:wrap;gap:8px;}
.recent_list{position:relative;}
.list_control{position:absolute;top:0;right:0;display:flex;column-gap:10px;}
.list_control>button{border-right:1px solid #dedede;padding-right:10px;font-size:15px;}
.recent_list ul li{display:flex;align-items:center;}
.recent_list ul li button{display:inline-flex;margin-left:4px;}
.popular_list{margin-top:24px;}
.popular_list ul{margin-top:16px;}
.popular_list ul li button{border:1px solid #dedede;border-radius:50px;padding:7px 10px;line-height:1;}

.header-search .keyword-autoComplete{position:absolute;top:23px;left:0;z-index:-1;width:calc(100% - 10px - 115px);background:#fff;/* border:1px solid #737373; */border-radius:0 0 8px 8px;border:none;box-sizing:border-box;box-shadow:0 10px 20px 0 rgba(0,0,0,0.08);padding:50px 24px 24px 24px;}
.header-search .keyword-autoComplete p{font-size:16px;font-weight:bold;color:#371B1B;margin-bottom:8px;}
.header-search .keyword-autoComplete a{padding:8px 0;font-weight:500;}
.header-search .keyword-autoComplete a span{color:#987F62;}

/* 기록물 상세검색 */
.popup-box{border-radius:8px;}
.popup-box .pop-close{top:15px;}
.popup-box .pop-header{height:70px;border-radius:0;justify-content:center;}
.popup-box .pop-header .pop-title{font-size:22px;}
.popup-box .pop-body{border-radius:0;padding:36px 40px 24px;}
.pop-search-tab a{font-size:18px;font-weight:500;border:1px solid #DEDEDE;background:#fff;color:#2B2B2B;}
.pop-search-tab .active a{background-color:#F9F6F4;border-right:none; color: #4A2E26;}
.popup-box .pop-close button{background:url(../images/contents/i_pop_close_w.svg) center center no-repeat;}
.input-period .box-inputbox{padding:0 14px;}
.btn.new_brown{background-color:#4A2E26;color:#fff;border-radius:4px;}
.btn.new_brown_border{background-color:#fff;color:#4A2E26;border:1px solid #4A2E26;border-radius:4px;}
.sub-contents{margin:32px auto 100px;}
.conTab2 li{height:auto;}
.conTab2 .active a{background:none; color: #2B2B2B;}
.tab-wrap.search-detail-form .conTab2 li a{display:flex;flex-direction:column;padding:0;}
.tab-wrap.search-detail-form .conTab2 li a > span{display:flex;align-items:center;justify-content:center;width:100%;height:44px;line-height:44px;background-color:#F8F8F8;column-gap:4px;}
.tab-wrap.search-detail-form .conTab2 li a > .img_box{padding:20px 0;}
.tab-wrap.search-detail-form .conTab2 li a > .img_box img{height:145px;}
.whole-search-inner{display:block;margin-bottom:24px;}
.whole-search-inner .search-wrap{width:100%;background:none;padding:0;}
.whole-search-inner .search_box{width:100%;height:42px;display:flex;align-items:center;justify-content:center;}
.whole-search-inner .search_box .search_box_inner{width:510px;display:flex;align-items:center;justify-content:center;border:1px solid #DEDEDE;height:100%;border-radius:6px;overflow:hidden;}
.whole-search-inner .search_box select{width:100%;max-width:100px;max-width:max-content;height:100%;border:none;padding:0 30px 0 24px;}
.whole-search-inner .search-wrap .f-inputs{display:flex;justify-content:space-between;align-items:center;width:100%;height:100%;border:none;}
.whole-search-inner .search-wrap .f-inputs input[type="submit"]{width:46px;height:100%;text-align:left;text-indent:-9999px;border-radius:50%;background:url(../images/new/search.svg) center center no-repeat;background-size:18px;}
.whole-search-inner .search-wrap .f-inputs .keyword{height:100%;padding-left:16px;box-sizing:border-box;}
.whole-search-inner .search-wrap .f-cmd{height:100%;margin-left:10px;}
.whole-search-inner .search-wrap .btn-submit{max-width:100px;height:100%;font-size:16px;border-radius:6px;}
.whole-search-inner .search-wrap .help-wrap{margin-left:8px;vertical-align:bottom;}
.whole-search-inner .search-wrap .search-wrap-inner{margin:0 auto;display:flex;align-items:flex-start;justify-content:center;margin-top:16px;}
.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search{display:flex;align-items:flex-start;column-gap:16px;width:100%;max-width:510px;}
.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search .related-keywords-title{display:flex;align-items:center;gap:8px;flex-shrink:0;}
.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search .related-keywords-title span{font-size:16px;font-weight:500;color:#2B2B2B;}
.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search ul{display:flex;flex-wrap:wrap;gap:8px;flex:1;margin:0;padding:0;list-style:none;}
.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search ul li{margin:0;}
.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search ul li a{display:inline-block;text-decoration:none;white-space:nowrap;}
.recommand-research{width:100%;max-width:150px;}

/* 검색결과 시작  */

/* 상단 탭메뉴 */
.more_view{display: flex; align-items: center; gap: 4px; background-image: url(../images/new/more_view.svg); background-repeat: no-repeat; background-position: right center; background-size: 14px; padding-right: 18px; color: #5E5E5E; font-size: 14px; text-decoration: none;}
.record-list-filter{width: 100%; margin-bottom: 16px;}
.record-list-filter ul{display: flex; align-items: center; justify-content: space-between; border: 1px solid #DEDEDE;}
.record-list-filter ul li{flex: 1; text-align: center;}
.record-list-filter ul li:not(:first-child){border-left: 1px solid #DEDEDE;}
.record-list-filter ul li button{width: 100%; padding: 8.5px 0; background-color: #F6F6F6;}
.record-list-filter ul li.active button{background-color: #fff;}
.record-list-top{ display:flex; align-items: center; justify-content: space-between; padding-bottom: 16px; border-bottom: 2px solid #2B2B2B;}
.record-list-title{ font-size: 18px; font-weight: 700; color: #2B2B2B;}

/* 기록물 탭 */
.record-tab{display: flex; align-items: center; gap: 8px;}
.record-tab ul{display: flex; align-items: center;}
.record-tab ul li{flex: 1; text-align: center;}
.record-tab ul li button{width: 100px; height: 40px; display: flex; align-items: center; justify-content: center; background-color: #fff; border: 1px solid #4A2E26; border-bottom: none;}
.record-tab ul li.active button{background-color: #4A2E26; color: #fff;}
.record-tab-contents{width: 100%; border: 1px solid #4A2E26;}
.record-depth-filter{display: flex;}
.record-depth-filter .record-depth-col{min-width: 200px;}
.record-depth-filter .record-depth-col.record-depth-institution{flex: 1; cursor: pointer;}
.record-depth-filter .record-depth-col.record-depth-institution .more_view{width: 20px; height: 20px; background-image: url(../images/new/plus.svg); background-repeat: no-repeat; background-position: right center; background-size: 18px; color: #5E5E5E; margin-right: 12px; padding: 0;}
.record-depth-filter .record-depth-col:not(:last-child){border-right: 1px solid #DEDEDE;}
.record-depth-filter .record-depth-col .record-depth-title{display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #DEDEDE; border-bottom: none; background-color: #fafafa; }
.record-depth-filter .record-depth-col .record-depth-title.active{background-color: #4A2E26; color: #fff;}
.record-depth-filter .record-depth-col .record-depth-title span{display: block; width: 100%; padding:8.5px 14px; font-weight: 500;}
.record-depth-filter .record-depth-col .record-depth-title.active .more_view {background-image: url(../images/new/minus.svg);}
.record-depth-filter .record-depth-col .record-depth-list{width:100%; max-height: 252px; overflow-y: auto; border-top: 1px solid #DEDEDE;}
.record-depth-filter .record-depth-col .record-depth-list li{display: flex; justify-content: space-between; align-items: center; gap: 8px;}
.record-depth-filter .record-depth-col .record-depth-list li input[type="radio"]{display: none;}
.record-depth-filter .record-depth-col .record-depth-list li label{width:100%; font-size: 14px; color: #5E5E5E; font-weight: 400; cursor: pointer; padding: 7px 14px;}
.record-depth-filter .record-depth-col .record-depth-list li input[type="radio"]:checked + label{ background-color: #F9F6F4; background-image: url(../images/new/record_chk.svg); background-repeat: no-repeat; background-position: right 14px center; background-size: 14px;}
.record-depth-close-wrap{text-align: right; border-top: 1px solid #DEDEDE; background-color: #FAFAFA; padding: 10px;}
.record-depth-close-btn{ display:flex; align-items: center; margin-left: auto; background-image: url(../images/new/arrow_up.svg); background-repeat: no-repeat; background-position: right center; background-size: 14px; padding-right: 16px; color: #5E5E5E;}
.record-depth-close-btn.open {background-image: url(../images/new/arrow_down.svg);}

/* 생산기관 검색탭 */
.record-depth-institution-tab-contents { display: none; background-color: #fff; padding: 24px; width: 100%; border-top: 1px solid #DEDEDE; box-sizing: border-box;}
.record-depth-institution-tab-contents.active {display: block;}
.search-institution-input{position: relative; width: 100%; max-width: 500px; height: 40px; margin-bottom: 16px;}
.search-institution-input input[type="text"]{width: 100%; max-width: 100%; height: 40px; border-radius: 6px;}
.search-institution-input .btn-submit{position: absolute; right: 12px; top: 0;width: 16px; height: 100%; text-indent: -9999px; border-radius: 50%; background: url(../images/new/search.svg) center center no-repeat; background-size: 16px;}
.search-institution-list{display: flex; align-items: center; gap: 10px;}
.search-institution-col{display: flex; flex-wrap: wrap; row-gap: 24px;}
.search-institution-item{width: 50%;}
.search-institution-list input[type="checkbox"]{display: none;}
.search-institution-list label{position: relative; display: flex; align-items: center; cursor: pointer; padding-left: 28px;}
.search-institution-list label::before {content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 18px; height: 18px; border: 1px solid #DEDEDE; border-radius: 4px;}
.search-institution-list input[type="checkbox"]:checked + label::before {content: ''; position: absolute; right: 0px; top: 50%; transform: translateY(-50%); width: 18px; height: 18px; background-image: url(../images/new/record_chk.svg); background-repeat: no-repeat; background-position: center; background-size: 18px; border: none; background: #987F62 url(../images/contents/i_checkbox_on.svg) center center no-repeat;}

/* 기록물 탭 */

/* more_view 버튼이 활성화되었을 때의 스타일 */
.record-depth-col.record-depth-institution .more_view.active {background-image: url(../images/new/minus.svg);}
.record-depth-actions{display: flex; justify-content: space-between; align-items: center; padding: 16px; border-top: 1px solid #DEDEDE;}
.record-depth-actions .record-depth-history{display: flex; align-items: center; gap: 8px;}
.record-depth-actions .record-depth-history-label{font-size: 14px; color: #888;}
.record-depth-actions .record-depth-history-item{display: flex; align-items: center; flex-wrap: wrap; gap: 4px;}
.record-depth-actions .record-depth-history-item > span{font-size: 14px; font-weight: 400; color: #5E5E5E;}
.record-depth-actions .record-depth-history-item > span:not(:first-child):before{content: '>'; margin-right:4px;}
.record-depth-actions .record-depth-history-item > button{background-image: url(../images/new/close.svg); background-repeat: no-repeat; background-position: center; background-size: 8px; padding: 0; width: 16px; height: 16px;}
.record-depth-actions .record-depth-history-item + li{margin-top: 10px;}
.record-depth-actions .record-depth-btns{display: flex; gap: 8px;}
.record-depth-actions .record-depth-btns .btn{padding: 12px 20px; height: 36px;}
.record-depth-actions .record-depth-btns .btn.reset{ background-color: #fff; border: 1px solid #1B1B1B; color: #1B1B1B; background-image: url(../images/new/reset.svg); background-repeat: no-repeat; background-position: 12px center; background-size: 20px; padding:12px 12px 12px 35px;}
.record-depth-actions .record-depth-btns .btn.search{background-color: #1B1B1B; color: #fff;}

/* 업무자료 검색탭 */
.work-tab-contents{ border-top: 1px solid #000; border-right: 1px solid #DEDEDE; border-bottom: 1px solid #DEDEDE; border-left: 1px solid #DEDEDE;}
.work-depth-filter{position: relative; display: flex;}
.work-depth-filter .work-depth-col{position: relative; min-width: 240px;}

.work-depth-filter .work-depth-col:not(:nth-child(4)){border-right: 1px solid #DEDEDE;}
.work-depth-filter .work-depth-col.last::after{content: '카테고리를 선택해주세요'; position: absolute; left: calc(100% + 30px); top: 50%; transform: translateY(-50%); width: max-content; background-image: url('../images/new/arrow_left.svg'); background-repeat: no-repeat; background-position: left center; padding-left: 20px; font-size: 15px; color: #5e5e5e;}
.work-depth-filter .work-depth-col .work-depth-title{display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #DEDEDE; border-bottom: none; background-color: #fafafa; }
.work-depth-filter .work-depth-col .work-depth-title.active{background-color: #4A2E26; color: #fff;}
.work-depth-filter .work-depth-col .work-depth-title span{display: block; width: 100%; padding:8.5px 14px; font-weight: 500;}
.work-depth-filter .work-depth-col .work-depth-title.active .more_view {background-image: url(../images/new/minus.svg);}
.work-depth-filter .work-depth-col .work-depth-list{width:100%; min-height: 216px; max-height: 252px; overflow-y: auto; border-top: 1px solid #DEDEDE;}
.work-depth-filter .work-depth-col .work-depth-list li{display: flex; justify-content: space-between; align-items: center; gap: 8px;}
.work-depth-filter .work-depth-col .work-depth-list li input[type="radio"]{display: none;}
.work-depth-filter .work-depth-col .work-depth-list li input[type="checkbox"]{display: none;}
.work-depth-filter .work-depth-col .work-depth-list li label{width:100%; font-size: 15px; color: #5E5E5E; font-weight: 400; cursor: pointer; padding: 7px 14px;}
.work-depth-filter .work-depth-col .work-depth-list li input[type="radio"]:checked + label{ background-color: #F9F6F4; color: #4A2E26; font-weight: 500; background-image: url(../images/new/arrow_right.svg); background-repeat: no-repeat; background-position: calc(100% - 12px) center; background-size: 16px;}
.work-depth-filter .work-depth-col .work-depth-list li input[type="checkbox"]:checked + label{ background-color: #F9F6F4; color: #4A2E26; font-weight: 500; background-image: url(../images/new/record_chk.svg); background-repeat: no-repeat; background-position: calc(100% - 12px) center; background-size: 14px;}
.work-depth-close-wrap{text-align: right; border-top: 1px solid #DEDEDE; background-color: #FAFAFA; padding: 10px;}
.work-depth-close-btn{ display:flex; align-items: center; margin-left: auto; background-image: url(../images/new/arrow_up.svg); background-repeat: no-repeat; background-position: right center; background-size: 14px; padding-right: 16px; color: #5E5E5E;}
.work-depth-close-btn.open {background-image: url(../images/new/arrow_down.svg);}

.work-depth-col.work-depth-category4{flex:1; border: 1px solid #4A2E26;}
.work-depth-col.work-depth-category4 .work-depth-title{background-color: #4A2E26; color: #fff;}
.work-depth-col.work-depth-category4 input[type="checkbox"]{display: none;}
.work-depth-col.work-depth-category4 .work-depth-list{ display: grid; grid-template-columns: repeat(3, 1fr); width: 100%; box-sizing: border-box; max-height: none;}
.work-depth-col.work-depth-category4 .work-depth-list li{ width: 100%; display: flex; align-items: stretch; box-sizing: border-box; border-right: 1px solid #DEDEDE; border-top: 1px solid #DEDEDE;}
.work-depth-col.work-depth-category4 .work-depth-list li:nth-child(-n+3) {border-top: none;}
.work-depth-col.work-depth-category4 .work-depth-list li label{ width: 100%; display: flex; align-items: center; box-sizing: border-box; padding: 22px 25px; word-break: break-all;}
.work-depth-col.work-depth-category4 .work-depth-list li input[type="checkbox"]:checked + label{font-weight: 500;background-color: #F9F6F4;}

/* 검색결과 상단 */
.search-result-filter{border: none; padding: 0; margin: 16px 0 8px; border-bottom: 1px solid #000;}
.search-result-filter .select{margin-right: auto;}
.search-result-list{border-top: none;}

.search-result-list .result-row{display: flex; flex-direction: column;}
.search-result-list .result-row .result-row-inner{display: flex; align-items: flex-start;}
.search-result-list .result-row .result-row-inner .select{width:auto;margin-right:16px;}
.search-result-list .result-row .result-row-inner .list-contents{position: relative; width: 100%;}

.search-result-list .info li{margin-right: 10px;}
.search-result-list .info > p{padding-top: 8px;}
.search-result-list .image-box{height:auto; width: auto; min-width: 157px; margin-right:24px; overflow: hidden; text-align: center;}
.search-result-list .image-box a{display:block; width:100%; height:100%;}
.search-result-list .image-box img{height:100%; object-fit:cover; max-height: 209px;}
.search-result-list .category{margin-bottom: 12px;}
.search-result-list .category .cate-lb{height:30px;border-radius:20px;border-color:#7C705B;color:#7C705B;font-weight:500;padding:0 12px; word-break: keep-all;}

.search-result-list .cate-lb.open{border-color: #3F7E9C; color: #3F7E9C; background-image: url(../images/new/open.svg); background-repeat: no-repeat; background-position: 10px center; background-size: 18px; padding-left: 30px; border-radius: 20px;}
.search-result-list .cate-lb.open2{border-color: #A6463B; color: #A6463B; background-image: url(../images/new/open2.svg); background-repeat: no-repeat; background-position: 10px center; background-size: 18px; padding-left: 30px; border-radius: 20px;}

.search-result-list .list-contents .action-box{ position: absolute; right: 0; top: 0;}
.search-result-list .list-contents .action-box ul{display: flex; align-items: center; gap: 8px;}
.search-result-list .list-contents .action-box ul li button{display:flex;justify-content:center;align-items:center;width:32px;height:32px;border-radius:50%;background-color:#1B1B1B;padding:0;background-repeat:no-repeat;background-position:center;background-size:18px;color:transparent;font-size:0;text-indent:-9999px;overflow:hidden;}
.search-result-list .list-contents .action-box ul li button.down{background-image:url(../images/new/download.svg);}
.search-result-list .list-contents .action-box ul li button.print{background-image:url(../images/new/print.svg);}
.search-result-list .list-contents .action-box ul li button.folder{background-image:url(../images/new/folder.svg);}
.search-result-list .list-contents .action-box ul li button.copy{ background-image: url(../images/new/copy.svg);}

/* 요약정보 */
.search-result-list .expand-viewer{display:none; padding: 0 34px; margin-top: 24px; border: none;}
.search-result-list.all .expand-viewer{padding: 0;}
.data-view{border-color: #DEDEDE;}
.data-view .data-title{font-size: 16px; font-weight: 400;}
.data-view tbody th,
.data-view tbody td{border-color: #DEDEDE; padding: 16px 24px;}
.data-view .open-box{display: flex; align-items: center; gap: 8px;}
.data-view .open-box .open{flex-shrink: 0; padding: 0 10px 0 30px;}
.data-view .open-box p{font-size: 14px; color: #5E5E5E; font-weight: 400;}
.data-view .preview-box .preview-box-inner{margin-bottom: 10px;}
.data-view .preview-box .preview-box-inner ul{display: flex; align-items: center; gap: 8px;}
.data-view .preview-box .preview-box-desc{}
.data-view .preview-box .preview-box-desc a{display: inline-block;}
.data-view .preview-box .preview-box-desc p{display: inline;}

/* 상세정보 */
.md-wrap{margin: 12px 0 36px;}
h4.md-title{padding-left: 0;}
h4.md-title:before{content: none;}
.bottom-btns .btn.prev{background-color: #93816D; color: #fff;}
.bottom-btns .btn.list{background-color: #4A2E26; color: #fff;}
.bottom-btns .btn.next{background-color: #93816D; color: #fff;}
.search-data-util-wrap{margin-top: 24px;}

/* 업무자료 검색결과 */
.list-contents .title{display: flex; align-items: center; flex-wrap: wrap; gap: 8px;}
.list-contents .download > ul{display: flex; align-items: center; gap: 4px;}
.list-contents .download > ul > li{position: relative;}
.list-contents .download .hwp-list{display: none; position: absolute; top: calc(100% + 4px); left: 0; background-color: #fff; border:1px solid #DEDEDE; border-radius: 5px; z-index: 10;}
.list-contents .download .hwp-list ul{display: block;}
.list-contents .download .hwp-list ul li{width: 100%;}
.list-contents .download .hwp-list ul li button{width: max-content; display: block; padding: 12px; font-size: 14px; font-weight: 500; color: #5E5E5E; text-decoration: underline; text-underline-offset: 4px; color: #2987BF;}
.list-contents .info{font-size: 16px; color: #5E5E5E;}
.list-contents .info .date{font-weight: 500; padding-bottom: 10px;}
.list-contents .info .breadcrumbs{display: flex; align-items: center; gap: 4px;}
.list-contents .info .breadcrumbs span{font-weight: 500;}
.list-contents .info .breadcrumbs span:not(:last-child):after{content: '>'; margin: 0 4px;}
.list-contents .download .btn{height: 30px; font-size: 14px; font-weight: 500; border-radius: 4px; padding: 5px 8px 5px 30px; background-position: 8px center; background-repeat: no-repeat; background-size: 20px; word-break: keep-all;}
.btn.viewer{background-image:url('../images/new/viewer.svg'); background-color: #fff; border: 1px solid #1B1B1B; color: #1B1B1B;}
.btn.pdf{background-image:url('../images/new/download.svg'); background-color:#7A3C2A; color: #fff;}
.btn.hwp{background-image:url('../images/new/download.svg'); background-color:#335489; color: #fff;}
.btn.link{background-image:url('../images/new/link.svg'); background-color:#fff; border: 1px solid #1B1B1B; color: #1B1B1B;}
.btn.excel{background-image:url('../images/new/download.svg'); background-color:#578A67; color: #fff;}
.btn.mp4{background-image:url('../images/new/download.svg'); background-color:#665349; color: #fff;}
.btn.mv61{background-image:url('../images/new/download.svg'); background-color:#40505A; color: #fff;}
.btn.etc{background-image:url('../images/new/download.svg'); background-color: #2A2A2A; color: #fff;}
/* 버튼 타입 */

/* 하단 다운로드 액션 박스 */
.search-data-util .util-items{width: 100%; padding: 0;}
.search-data-util .util-items ul{width: 100%; justify-content: center;}
.search-data-util .util-items li{padding: 0 50px;}
.search-data-util .util-items a{font-size: 16px; padding: 20px 0;}
.search-data-util .util-items a.down:before{background:url(../images/new/download.svg) 0 0 no-repeat;}
.search-data-util .util-items a.print:before{background:url(../images/new/print.svg) 0 0 no-repeat;}
.search-data-util .util-items a.folder:before{background:url(../images/new/folder.svg) 0 0 no-repeat;}
.search-data-util .util-items a.copy:before{background:url(../images/new/copy.svg) 0 0 no-repeat;}

.search-data-util .guide{width: 100%; background-color: #231A18; padding: 10px 0;}
.search-data-util .guide .guide-refer{font-size: 16px; word-break: keep-all;}

@media (max-width: 1200px){
    .work-depth-filter .work-depth-col{min-width: 150px; padding: 0;}
}

@media (max-width: 768px) {
    .pc{display: none;}
    .mobile{display: block;}
    /* 상단 검색 */
    .header-search .mobile-search-type{display: flex; align-items: center;}
    .header-search .mobile-search-type label{padding: 0; margin-right: 8px;}
    .header-search .keyword-autoComplete{width: 100%; top: 100px; padding: 24px;}
    .autoComplete_list ul{max-height: 300px; overflow-y: auto;}
    .keyword-recent{top: 100px; padding: 24px;}
    .header-search fieldset{flex-direction: column; gap: 16px;}

    /* 상단 상세 검색 */
    .popup-wrap .popup-box{border-radius: 6px 6px 0 0;}
    .popup-wrap .popup-box .pop-header{height: 48px; padding: 0; border-radius: 6px 6px 0 0;}
    .popup-box .pop-header .pop-title{font-size: 16px;}
    .popup-box .pop-close button{width: 16px; height: 16px; background-size: 16px;}
    .popup-wrap .popup-box .pop-close{height: 16px; top: 15px; right: 12px;}
    .popup-wrap .popup-box .pop-body{padding: 0; border-radius: 0;}
    .data-regist{border: none;}
    .data-regist.thin tbody th{display: flex; justify-content: center; align-items: center;}
    .data-regist.thin .help-word-wrap{justify-content: center;}
    .data-regist > table > tbody > tr > th{min-width: 110px; text-align: center; word-break: keep-all;}
    .data-regist > table > tbody > tr > td{width: calc(100% - 110px); font-size: 14px;}
    .keyword-set-wrap .row .keyword{margin: 10px 0;}
    .input-find{flex-direction: column; gap: 8px;}
    .data-regist .btn{width: 100px; padding: 8px; font-size: 14px;}
    .data-regist input, .data-regist select, .data-regist textarea{border-radius: 4px;}
    .data-regist .input-between input,
    .data-regist .date-period input{width: calc(50% - 10px);}
    .pop-search-tab{height: 44px;}
    .pop-search-tab a{font-size: 14px; border-bottom: none; border-right: none;}

    .tab-wrap.search-detail-form .tabContents{position: relative; padding: 0; border-top: 1px solid #DEDEDE;}
    .popup-container .bottom-btns{margin-top: 0; padding: 14px 0;}
    .popup-container .bottom-btns button,
    .popup-container .bottom-btns input[type="submit"]{width: 88px; height: 36px;}

    .conTab2{flex-wrap: wrap; border-top: none;}
    .conTab2.col4 li{width: 50%;}
    .tab-wrap.search-detail-form .conTab2 li a > span{border-bottom: 1px solid #DEDEDE;}
    .tab-wrap.search-detail-form .conTab2 li:nth-child(1) a > span,
    .tab-wrap.search-detail-form .conTab2 li:nth-child(2) a > span {border-top: none;}

    /* 검색창 영역 */
    .whole-search-inner .search-wrap .f-inputs .keyword{font-size: 16px}
    .whole-search-inner .search_box .search_box_inner{width: 100%;}
    .whole-search-inner .search-wrap .f-inputs{width: calc(100% - 38px);}
    .whole-search-inner .search-wrap .f-inputs input[type="submit"]{width: 18px; height: 18px; padding: 12px; box-sizing: border-box; background-size: 18px;}
    .whole-search-inner .search-wrap .mobile-search-btn{padding: 6px; min-width: 18px; width:18px; height: 18px; padding: 12px; background-image: url(../images/new/plus.svg); background-repeat: no-repeat; background-position: center; background-size: 100%; font-size: 0; text-indent: -9999px; overflow: hidden; margin-right: 6px; background-color: transparent;}
    .whole-search-inner .search-wrap .f-cmd{display: none;}
    .whole-search-inner .search-wrap .search-wrap-inner{flex-wrap: wrap;}
    .whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search ul{flex-wrap: nowrap;overflow-x: auto;}
    .recommand-research{margin-left: auto; justify-content: flex-end; margin-top: 15px;}

    /* 전체 검색결과 영역 */
    .record-list-filter ul li button{word-break: keep-all; line-height: 18px;}
    .record-list-top{padding-bottom: 6px;}
    .search-result-list .image-box{width: 90px; min-width: 90px; max-height:max-content; margin-right: 12px;}
    .search-result-list .image-box img{object-fit: cover;}
    .search-result-list .info > p{display: none;}
    .search-result-list .category{display: flex; flex-wrap: nowrap; overflow-x: auto;}
    .search-result-list .category .cate-lb{width: max-content;}
    .search-result-list .expand a, .search-result-list .expand span{height: 36px;}
    .search-result-list .result-row .result-row-inner{width: 100%;}
    .list-contents .download > ul{flex-wrap: nowrap; overflow-x: auto;}
    .search-result-list .title .download{width: 100%;}
    .list-contents .info .date{font-size: 14px; padding-bottom: 4px;}
    .list-contents .info .breadcrumbs{flex-wrap: wrap;}
    .list-contents .info .breadcrumbs span{font-size: 14px;}

    /* 모바일 전용 검색 (셀렉트??) - 기능 잘 모르겠음 나도 */
    .mobile-search-select{width:100%; display: flex; gap: 8px; margin: 0; flex-wrap: nowrap; overflow-x: auto;}
    .mobile-search-select button{width: auto; height: 40px; border: 1px solid #D1D5DB; border-radius: 4px; padding: 0 34px 0 14px; word-break: keep-all; background-image: url('../images/new/arrow_down.svg'); background-repeat: no-repeat; background-position: calc(100% - 12px) center;}
    
    .mobile-search-select button.reset{min-width: 40px; max-width:40px; height:40px; padding: 0; border: 1px solid #D1D5DB; border-radius: 50%; background-image: url(../images/new/reset.svg); background-repeat: no-repeat; background-position: center; background-size: 22px;}


    /* 기록물 검색 */
    .record-tab{margin-bottom: 12px;}
    .record-tab ul{width: 100%;}
    .record-tab ul li button{width: 100%; border: 1px solid #4A2E26;}
    .record-tab-contents{display: none;}
    .search-result-filter{display: flex; gap: 8px; padding: 12px 0; margin: 0;}
    .search-result-filter .select{display: flex; margin: 0; gap: 8px;}
    label.single{font-size: 15px; align-items: center; font-weight: 400; color: #5E5E5E;}
    .search-result-filter .views{position: unset; margin: 0; width: 60px;}
    .search-result-filter .views select{width: 100%;}
    .record-list-title{font-size: 16px;}
    .search-result-list .result-row .result-row-inner{flex-wrap: wrap;}
    .search-result-list .result-row .result-row-inner .select{ width: 100%; margin-bottom: 16px; margin-right: 0;}
    .search-result-list .category{margin-bottom: 8px;}
    .search-result-list .result-row .result-row-inner .list-contents{width: calc(100% - 102px);}
    .search-result-list .rfile .result-row-inner .list-contents{position: relative; width: 100%;}
    .search-result-list .list-contents .action-box{position: relative; margin-bottom: 8px;}

    .search-result-list .expand-viewer{padding: 0;}
    .search-result-list .expand-viewer .data-view td{flex-direction: column; align-items: flex-start;}
    .search-result-list .expand-viewer .data-view th{text-align: center;}

    /* 상세정보 */
    .md-wrap .error_button{display: none;}
    h4.md-title{margin-bottom: 12px;}
    .data-view > table > tbody > tr > th{text-align: center;}
    .btn.origin{height: 36px; font-size: 14px;}

    /* 업무자료 검색 */
    .work-tab-contents{display: none;}
    .search-result-list .witem .result-row-inner .list-contents{width: 100%;}

    /* 검색결과 만족 영역 */
    .feedback-form-title{font-size: 16px; font-weight: 500;}
    .feedback-form-radio{flex-direction: column; gap: 16px; align-items: flex-start;}
    .feedback-form-radio .radio-group > .item{margin-right: 0; width: 33.333%;}
    .feedback-form-radio .radio-group input[type="button"]{width: 100%; margin-top: 16px;}

    /* 모바일 전용 팝업 */
    .mobile.popup-wrap{display: none;}
    .popup-wrap .popup-search-pop{position: absolute; bottom: 0; left: 0; width: 100%; margin: 0; background-color: #fff; padding: 24px 24px 0 24px; box-sizing: border-box;}
    .popup-wrap .popup-search-pop .pop-header{height: auto; padding: 0; border-radius: 6px 6px 0 0; background: none; justify-content: flex-start; padding-bottom: 12px; border-bottom: 1px solid #2b2b2b;}
    .popup-wrap .popup-search-pop .pop-header .pop-title{font-size: 16px; background: none; color: #2b2b2b; font-size: 16px; font-weight: 700;}
    .popup-wrap .popup-search-pop .pop-close button{width: 16px; height: 16px; background-size: 16px; background-image: url(../images/new/close.svg);}
    .popup-wrap .popup-search-pop .pop-close{height: 16px; top: 15px; right: 12px;}
    .popup-wrap .popup-search-pop .pop-close{top: 24px; right: 24px;}
    .popup-wrap .popup-search-pop .pop-close button.close{background-image: url(../images/new/close.svg);}
    .popup-wrap .popup-search-pop .pop-body{padding: 0; border-radius: 0;}
    .pop-body-contents-inner .record-search-filter{display: flex;}
    .record-depth-type{background-color: #F8F8F8; width: 115px;}
    .record-depth-type li button{width:100%; padding: 16px 12px; background-color: #F8F8F8; text-align: left; font-size: 14px;}
    .record-depth-type li button.back-btn::before{content: ''; display: inline-block; width: 14px; height: 14px; background-image: url(../images/new/arrow_left.svg); background-repeat: no-repeat; background-position: center; background-size: 14px; vertical-align: sub;}
    .record-depth-type li.active button{background-color: #fff; color: #2B2B2B; font-weight: 500; background-image: url(../images/new/arrow_right.svg); background-size: 14px; background-repeat: no-repeat; background-position: right 12px center;}
    .record-depth-type li.active button.back-btn{background: none; background-image: none;}
    .record-depth-list{flex: 1;}
    .record-depth-list ul li{display: block;}
    .record-depth-list ul li input[type="radio"]{display: none;}
    .record-depth-list ul li label{display: flex; align-items: center; gap: 8px; font-size: 14px; color: #5E5E5E; font-weight: 400; padding: 16px 12px;}
    .record-depth-list ul li label .record-depth-count{font-size: 12px; color: #999; font-weight: 400;}
    .record-depth-list input[type="radio"]:checked + label{background-color: #F9F6F4; color: #4A2E26; font-weight: 500; background-image: url(../images/new/record_chk.svg); background-size: 14px; background-repeat: no-repeat; background-position: right 12px center;}

    .record-depth-list .institution-input{display: flex; align-items: center; padding: 12px; background-color: #fff;}
    .record-depth-list .institution-input .search-institution-input{width: 100%; margin:0; height: 28px;}
    .record-depth-list .institution-input .search-institution-input input[type="text"]{width: 100%; height: 100%;}

    .history-list{ padding: 16px 12px; background-color: #fff; border-top: 1px solid #DEDEDE; border-bottom: 1px solid #DEDEDE;}
    .history-list span{display:block; font-size: 14px; color: #2b2b2b; font-weight: 400; padding-bottom: 12px;}
    .history-list ul{display: flex; flex-wrap: wrap; row-gap: 8px;}
    .history-list ul li{display: flex; align-items: center; gap: 8px;}
    .history-list ul li span{position: relative; display: inline-block; margin-right: 8px; font-size: 14px;}
    .history-list ul li span::after{content: ''; display: inline-block; width: 16px; height: 16px; background-image: url(../images/new/close.svg); background-repeat: no-repeat; background-position: center; background-size: 8px; vertical-align: sub;}
    .history-list ul li span:hover{background-color: #F9F6F4; color: #4A2E26; font-weight: 500;}

    .popup-wrap .popup-search-pop .btn-section{display: flex; justify-content: center; gap: 8px; padding: 16px 12px; background-color: #fff;}
    .popup-wrap .popup-search-pop .btn{width: 100%; max-width: 88px; height: 36px;}

    /* 하단 플러팅 메뉴 */
    .search-data-util .util-items ul{padding: 10px 16px; justify-content: flex-start; row-gap: 16px; column-gap: 24px;}
    .search-data-util .util-items ul li{width: calc(50% - 12px); padding: 0;}
    .search-data-util .util-items a{font-size: 15px; padding: 0;}
    .search-data-util .guide{padding: 10px 16px;}
    .search-data-util .guide .guide-refer{font-size: 15px;}
}


