@charset "utf-8";

.paging .active{
    background-color: #1B1B1B;
}

.search-result-top{
    margin-top: 24px;
}

.feedback-form{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.feedback-form-title{
    margin-right: 20px;
}

.feedback-form-radio{
    display: flex;
    align-items: center;
}

.feedback-form-checkbox{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}


/* 검색창 */
.list_control_item{display:flex;align-items:center;column-gap:10px;}
.list_control_item>span{font-size:15px;}
.list_control_item>label{position:relative;display:flex;align-items:center;column-gap:6px;cursor:pointer;}
.list_control_item input[type="checkbox"]{display:none;}
.list_control_item .switch{position:relative;display:inline-block;width:28px;height:16px;}
.list_control_item .switch input{display:none;}
.list_control_item .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;transition:.4s;border-radius:34px;}
.list_control_item .slider:before{position:absolute;content:"";width:10px;height:10px;left:4px;top:50%;transform:translateY(-50%);background-color:white;transition:.4s;border-radius:50%;}
.list_control_item .switch input:checked+.slider{background-color:#987F62;}
.list_control_item .switch input:focus+.slider{box-shadow:0 0 1px #2196F3;}
.list_control_item .switch input:checked+.slider:before{transform:translateY(-50%) translateX(12px);}

/* 자동완성 */
.autoComplete_list{position:relative;}
.autoComplete_list ul{}
.autoComplete_list ul li{display:flex;align-items:center;}
.autoComplete_list ul li button{display:inline-flex;margin-left:4px;}

/* 최근검색어 */
.keyword-recent{padding-bottom:24px;}
.keyword-recent ul{display:flex;flex-wrap:wrap;gap:8px;}
.recent_list{position:relative;}
.list_control{position:absolute;top:0;right:0;display:flex;column-gap:10px;}
.list_control>button{border-right:1px solid #dedede;padding-right:10px;font-size:15px;}
.recent_list ul li{display:flex;align-items:center;}
.recent_list ul li button{display:inline-flex;margin-left:4px;}
.popular_list{margin-top:24px;}
.popular_list ul{margin-top:16px;}
.popular_list ul li button{border:1px solid #dedede;border-radius:50px;padding:7px 10px;line-height:1;}

.header-search .keyword-autoComplete{position:absolute;top:23px;left:0;z-index:-1;width:calc(100% - 10px - 115px);background:#fff;/* border:1px solid #737373; */border-radius:0 0 8px 8px;border:none;box-sizing:border-box;box-shadow:0 10px 20px 0 rgba(0,0,0,0.08);padding:50px 24px 24px 24px;}
.header-search .keyword-autoComplete p{font-size:16px;font-weight:bold;color:#371B1B;margin-bottom:8px;}
.header-search .keyword-autoComplete a{padding:8px 0;font-weight:500;}
.header-search .keyword-autoComplete a span{color:#987F62;}

/* 기록물 상세검색 */
.popup-box{
    border-radius: 8px;
}
.popup-box .pop-close{
    top: 15px;
}
.popup-box .pop-header{
    height: 70px;
    border-radius: 0;
    justify-content: center;
}

.popup-box .pop-header .pop-title{
    font-size: 22px;
}

.popup-box .pop-body{
    border-radius: 0;
    padding: 36px 40px 24px;
}
.pop-search-tab a{
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #DEDEDE;
    background: #fff;
    color: #2B2B2B;
}
.pop-search-tab .active a{
    background-color: #F9F6F4;
    border-right: none;
}

.popup-box .pop-close button{
    background: url(../images/contents/i_pop_close_w.svg) center center no-repeat;
}

.input-period .box-inputbox{
    padding: 0 14px;
}

.btn.new_brown{
    background-color: #4A2E26;
    color: #fff;
    border-radius: 4px;
}

.btn.new_brown_border{
    background-color: #fff;
    color: #4A2E26;
    border: 1px solid #4A2E26;
    border-radius: 4px;
}

.sub-contents{
    margin: 32px auto 100px;
}
.conTab2 li{
    height: auto;
}

.conTab2 .active a{
    background: none;
}

.tab-wrap.search-detail-form .conTab2 li a{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.tab-wrap.search-detail-form .conTab2 li a > span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    line-height: 44px;
    background-color: #F8F8F8;
    column-gap: 4px;
}

.tab-wrap.search-detail-form .conTab2 li a > .img_box{
    padding: 20px 0;
}
.tab-wrap.search-detail-form .conTab2 li a > .img_box img{
    height: 145px;
}

.whole-search-inner{
    display: block;
    margin-bottom: 24px;
}

.whole-search-inner .search-wrap{
    width: 100%;
    background: none;
    padding: 0;
}

.whole-search-inner .search_box{
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.whole-search-inner .search_box .search_box_inner{
    width: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DEDEDE;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.whole-search-inner .search_box select{
    width: 100%;
    max-width: 100px;
    max-width: max-content;
    height: 100%;
    border: none;
    padding: 0 30px 0 24px;
    
}

.whole-search-inner .search-wrap .f-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
}

.whole-search-inner .search-wrap .f-inputs input[type="submit"]{
    width: 46px;
    height: 100%;
    text-align: left;
    text-indent: -9999px;
    border-radius: 50%;
    background: url(../images/new/search.svg) center center no-repeat;
    background-size: 18px;
}

.whole-search-inner .search-wrap .f-inputs .keyword{
    
    height: 100%;
    padding-left: 16px;
    box-sizing: border-box;
}

.whole-search-inner .search-wrap .f-cmd{
    height: 100%;
    margin-left: 10px;
}

.whole-search-inner .search-wrap .btn-submit{
    max-width: 100px;
    height: 100%;
    font-size: 16px;
    border-radius: 6px;
}

.whole-search-inner .search-wrap .help-wrap{
    margin-left: 8px;
    vertical-align:bottom;
}

.whole-search-inner .search-wrap .search-wrap-inner{
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 16px;
}

.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search{
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
    width: 100%;
    max-width: 510px;
}

.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search .related-keywords-title{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}


.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search .related-keywords-title span{
    font-size: 16px;
    font-weight: 500;
    color: #2B2B2B;
}
.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search ul{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex: 1; /* 남은 공간을 모두 차지 */
    margin: 0;
    padding: 0;
    list-style: none;
}
.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search ul li{
    margin: 0;
}

.whole-search-inner .search-wrap .search-wrap-inner .related-keywords-search ul li a{
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}

.recommand-research{
    width: 100%;
    max-width: 150px;
}


